* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: firebrick;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    height: 85vh;
    width: 80vw;
    background-image: linear-gradient(to right, #5c6e91, #839b97);
    border-radius: 14px;
}

.ball {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: fixed;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
}

.ball_effect {
    height: 100%;
    width: 100%;
    border-radius: 100px;
    animation: crazy 0.8s linear infinite;
    background-color: #fff;
}

@keyframes crazy {
    0% {
        background-color: red;
    }
    10% {
        background-color: blue;
    }
    20% {
        background-color: yellow;
    }
    30% {
        background-color: green;
    }
    40% {
        background-color: purple;
    }
    50% {
        background-color: fuchsia;
    }
    60% {
        background-color: white;
    }
    70% {
        background-color: darkorange;
    }
    80% {
        background-color: lightblue;
    }
    90% {
        background-color: turquoise;
    }
    100% {
        background-color: pink;
    }
}

.paddle {
    height: 100px;
    width: 18px;
    position: fixed;
}

.paddle_1 {
    top: calc(7.5vh + 55px);
    left: calc(10vw + 30px);
    background-color: #fff;
}

.paddle_2 {
    top: calc(85vh + 7.5vh - 100px - 55px);
    right: calc(10vw + 30px);
    background-color: #fff;
}

.player_1_score {
    height: 50px;
    width: 50px;
    color: chartreuse;
    position: fixed;
    left: 30vw;
    margin-top: 30px;
}

.player_2_score {
    height: 50px;
    width: 50px;
    color: chartreuse;
    position: fixed;
    left: 70vw;
    margin-top: 30px;
}

.message {
    position: fixed;
    /* color: #48426d; */
    height: 10vh;
    width: 30vw;
    color: #c9cbff;
    left: 38vw;
    margin: 30px auto auto auto;
}
